{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Login Start -->
<section id="login">
    <div class="container my-3">
        <img src="{% static 'imgs/logoo.png' %}" alt="" width="20%">

        <form method="post">
            {% csrf_token %}
            
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput"
                       placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword"
                       placeholder="Password" required>
                <label for="floatingPassword">Password</label>
            </div>
                <a href="#" class="">Forget Password ?</a>
            

            <div class="reg-group">
                <button type="submit" class="btn btn-danger">Login</button>
                <button type="button" onclick="location.href='{% url 'signup' %}'" class="btn btn-secondary">Create account</a>
            </div>
            <a href="">Sign up as a Hospital?</a>
        </form>
    </div>
</section>
<!-- Login End -->

{% endblock %}
